.img_no_1 {
  position: absolute;
  top: 14vh;
  left: 20vw;
}

.img_no_2 {
  position: absolute;
  top: 5vh;
  left: 32vw;
}

.img_no_3 {
  position: absolute;
  top: 4vh;
  left: 46vw;
}

.img_no_4 {
  position: absolute;
  top: 10vh;
  left: 60vw;
}